/*.navbar	{
		margin-bottom: 0;
		border-radius: 0;
		background-color: #0E0E0E;
		color: #FFF;
		padding: 1% 0;
		font-size: 1.2em;
		border: 0;
			}
	.navbar-brand {
		float: left;
		min-height:115px;
		padding: 0 15px 5px;
				  }
	.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover { 
	color: #FFF;
	background-color: #0E0E0E;
	}
	.navbar-inverse .navbar-nav li a {
		color: #D5D5D5;
	}
	
	.carousel-caption{
		top: 50%;
		transform: translateY(-50%);
		text-transform: uppercase;
	}
	.carousel-inner > .item > img {
    margin: 0 auto;
	}
	.btn{
		font-size: 18px;
		color: #FFF;
		padding: 12px 22px;
		background: #0E0E0E;
		border: 2px solid #FFF;
		
	}
	.container{
		margin: 4% auto;
	}
	#icon {
		max-width: 200px;
		margin: 1% auto;
	}
	footer{
		width: 100%;
		background-color: #0E0E0E;
		padding: 3%;
		color: #FFF;
	}
	.fa{
		padding: 15px;
		font-size: 25px;
		color: #FFF;
	}
	.fa:hover {
		color:#D5D5D5;
		text-decoration: none;
	}
	@media (max-width: 900px){
		.fa {
			font-size: 20px;
			padding:10px;
			}
		}
	@media (max-width: 600px){
		.carousel-caption {
			display: none; 
		}
		#icon{
			max-width: 150px;
		}
		h2 {
			font-size:1.7em; 
		}
	}*/


	
.has-same-height .card {
  height: 320px;
  overflow: hidden;
}

.card-content h3 {
  text-align: center;
}

.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.custom-tags {
  text-align: center !important;
  display: block;
}

.portfolio-container .card {
  margin-bottom: 2em;
}

.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 6em;
}

.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tag{
  font-size: 1rem;
}



i {
  display: inline-block;
  margin-right: 0.5em;
}
